
<!-- <table>
  <tr *ngFor="let tweet of tweets" class="col-1-4"
      routerLink="/detail/{{tweet.id}}">
      
      <td>{{tweet.id}}</td>
      <td>{{tweet.name}}</td>
      
  </tr>
</table>

<app-tweet-search></app-tweet-search>
 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div class="button">
<nav>
  <a routerLink="/hashtag/">Hashtag Search</a>
  <a class="active" routerLink="/user/">User Search</a>
</nav>
</div>

<div class="UserSearch">

  <div class="form">
      <p>User search</p>

    <div class="search">
      <input [(ngModel)]="term" (keyup)="$event.keyCode == 13 && getTweets()" placeholder="Search by User" class="search"/>
      <span class="fa fa-search"></span>
    </div>
  </div>
  <div class="table"> 
    <table>
      <tr>
        <th>Tweet</th>
        <th>Likes</th>
        <th>Replies</th>
        <th>Retweets</th>
        <th>Hashtags</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let tweet of tweets | paginate: { id: 'server', itemsPerPage: 2, currentPage: page, totalItems: total }" 
      class="col-1-10">
        
        <td>
          <div class="tweet">
              {{ tweet.text }}
              </div>
        </td>
        <td>
          <div class="Likes">
      
                {{ tweet.favourites_count > 0 ? tweet.favourites_count : "-" }}
      
          </div>
        </td>
        <td>
          <div class="Replies">
      
            {{ tweet.reply_count > 0 ? tweet.reply_count : "-" }}
        
          </div>
        </td>
        <td>
          <div class="Retweets">
      
            {{ tweet.retweet_count > 0 ? tweet.retweet_count : "-" }}
         
       
             </div>
        </td>
        <td>
          <ng-container *ngIf="tweet.hashtags.length > 0 ; then showhashtags ;else showdash">
            </ng-container>
          <ng-template #showhashtags>
          <div class="hashtags" *ngFor="let hashtag of tweet.hashtags">
              #{{ hashtag.text }}
            </div>
            </ng-template>
          

          <ng-template #showdash>
            -
          </ng-template>


            
        
          
        </td>
        <td>
          <div class="Date">{{ tweet.created_at }}</div>

          </td>
      </tr>
    </table>  
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>   
    </div>
</div>
<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->