
<!-- <table>
  <tr *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
      
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
      
  </tr>
</table>

<app-hero-search></app-hero-search>
 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<div class="button">
    <nav>
  <a routerLink="/Hashtag">Hashtag Search</a>
  <a routerLink="/User">User Search</a>
</nav>

	<!-- <button class="switch {% if mode == 'hashtag' %}active{% endif %}" onclick="javascript:window.location='/hashtags/{{ name }}'; return false;">Hashtag search</button> -->
	<!-- <button class="switch {% if mode == 'user' %}active{% endif %}"  onclick="javascript:window.location='/users/{{ name }}'; return false;">User search</button> -->

<div class="HashtagSearch">

	<div class="form">
	    <!-- <p>{{ mode|title }} search</p> -->
<!-- 
		<form action="http://127.0.0.1:8000/" method="get">
			<input name="Hashtag" type="text" placeholder="Search by {{ mode }}" + background-image: url('searchicon.png');>
		</form>
	 -->
		<!-- <form onsubmit="javascript:window.location = '/{{ mode }}s/' + this.search.value + window.location.search; return false;"> -->
			<div class="search">
				<input type="text" name= "search" class="search" placeholder="Search by mode">
				<span class="fa fa-search"></span>
			</div>
		<!-- </form> -->

	<div class="table">	
		<table>

			<tr>
				<th>Tweet</th>
				<th>Likes</th>
				<th>Replies</th>
				<th>Retweets</th>
				<th>Hashtags</th>
				<th>Date</th>
			</tr>
		<tr *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
			<td>
			<div class="tweet">
      {{ hero.id }}
			 <!-- {{ tweet.id }}  -->
      </div>
			</td>
			<td>
			<div class="Likes">
        
			<!-- {%if tweet.favorite_count > 0 %} -->
				{{hero.favourites_count}} 
			<!-- {%else%} -->
				<p>-</p>
			<!-- {%endif%} -->
			</div>
			</td>
			<td>
			<div class="Replies">
			<!-- {%if tweet.reply_count > 0 %} -->
				{{hero.reply_count}}
		   <!-- {%else%} -->
				<p>-</p>
			<!-- {%endif%}  -->
			</div>
		</td>
			<td>
			<div class="Retweets">
			<!-- {%if tweet.retweet_count > 0 %} -->
				{{hero.retweet_count}} 
			<!-- {%else%} -->
				<p>-</p>
			<!-- {%endif%} -->
      </div>
			</td>
			<td>
			<div class="Hashtags">
				<!-- {%if tweet.hashtags|length == 0 %} -->
				-
				<!-- {%else%} -->
					<!-- {% for hashtag in tweet.hashtags|slice:":2" %} -->
					 <!-- #{{ hashtag.text }}  -->
					<!-- {% endfor %} -->
					<!-- {%if tweet.hashtags|length > 2 %} ...{% endif %} -->
				<!-- {%endif%} -->
			</div>
		</td>
			<td>
			<!-- <div class="Date">{{ tweet.created_at }}</div> -->
      </td>
			</tr>

	<!-- {% endfor %} -->
		</table>	

    
		<div class ="page">
			<!-- {% for b in buttons %} -->
				<!-- <button class="page" onClick="javascript:document.location=document.location.origin + document.location.pathname+'?start={{ b.start }}&end={{ b.end }}';">{{ b.page }}</button> -->
			
			<!-- {% endfor %} -->
	
    </div>
    <button (click)="page()">1
    </button>

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->